<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author MagePrakash Wallet
  ~  * @copyright Copyright (c) 2020 MagePrakash (https://www.mageprakash.com)
  ~  * @package MagePrakash_Wallet
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\Service\CreditmemoService">
        <plugin name="WalletRefundToWallet" type="MagePrakash\Wallet\Plugin\RefundToWallet" />
    </type>
</config>
