<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author MagePrakash Wallet
  ~  * @copyright Copyright (c) 2020 MagePrakash (https://www.mageprakash.com)
  ~  * @package MagePrakash_Wallet
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="adminhtml_customer_save_after">
        <observer name="managewallet" instance="MagePrakash\Wallet\Observer\ManageWalletBalance" />
    </event>
</config>
