<?xml version="1.0"?>
<!--
  ~ /**
  ~  * @author MagePrakash Wallet
  ~  * @copyright Copyright (c) 2020 MagePrakash (https://www.mageprakash.com)
  ~  * @package MagePrakash_Wallet
  ~  */
  -->

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="wallet" translate="label" type="text" sortOrder="820" showInDefault="1" showInWebsite="1" showInStore="1">
            <class>separator-top</class>
            <label>Wallet</label>
            <tab>mageprakash</tab>
            <resource>Magento_Backend::admin</resource>
            <group id="general" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>General</label>
                <field id="is_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="title" translate="label" type="text" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Title</label>
                </field>
            </group>
            <group id="email" translate="label" type="text" sortOrder="30" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Mail Settings</label>
                <field id="is_cn_enabled" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable customer notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="customer_notification_template" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Enable customer notification</label>
                    <source_model>Magento\Config\Model\Config\Source\Email\Template</source_model>
                </field>
             </group>
        </section>
    </system>
</config>
